{% extends "base.html" %}

{% block base_content %}

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">GiftCheaters</a>
      </div>
    </div>
  </div>

  <div class="container-narrow">

    <div class="row">
      <div class="hero-unit">
        <h1>GiftCheaters</h1>
        <p>The easiest way to choose gifts for your friends using their Facebook interests.</p>
		<p>
			<button class="btn btn-facebook" onClick="FB.login()"><i class="fa fa-facebook"></i> | Connect with Facebook
			</button >
        </p>
      </div>
    </div>

    <footer class="footer">
      <p>&copy; {% now "Y" %} <a href="http://giftcheaters-ncisummer.appspot.com/">GiftCheaters</a>, All Rights Reserved</p>
    </footer>

  </div> <!-- /container -->

{% endblock %}